.root {
    -fx-base: #7eaacc;
    -fx-background: #7eaacc;
    -fx-control-inner-background: white;
}

.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.button {
    -fx-background-color: transparent;
    -fx-padding: 4;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.tool-bar:horizontal .separator {
    -fx-orientation: vertical;
    -fx-padding: 2 0 2 0;
}

.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
    -fx-table-header-border-color:derive(-fx-base,+20%);   
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base,20%);
    -fx-background-insets: 0, 0 1 0 1;
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, #7eaacc, derive(#7eaacc,+50%));
}

.menu-bar .menu .label {
    -fx-padding: 0.333em 0.5em 0.333em 0.5em; /* 4 6 4 6*/
    -fx-text-fill: black;
}

.my-gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,70%), derive(-fx-base,20%));
}

.separator-label {
    -fx-text-fill: derive(-fx-base,-50%) ;
}

#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}

#window_close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}

#window_min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}

#window_max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}

#window_close:hover {
    -fx-background-image: url("images/window-close-over.png");
}

#window_min:hover {
    -fx-background-image: url("images/window-min-over.png");
}

#window_max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}

.MTrimBar {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, derive(-fx-base,65%) 2%, derive(-fx-base,-20%) 95%);
}


.MTrimBar .tool-bar {
    -fx-border-style: solid;
    -fx-background-color: null;
    -fx-border-color:  null;
    -fx-border-width: 0px;
}

.tool-bar {
    -fx-border-style: solid;
    -fx-border-color:  linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, derive(-fx-base,65%) 2%, derive(-fx-base,-20%) 95%);
    -fx-border-width: 1px;
}
