.button{
    -fx-background-color: silver;
    -fx-text-fill: black;
}
.button:hover {
    -fx-background-color: lightgray;
    -fx-text-fill: white;
}

#Painel
{
    -fx-background-color: lightgray;
    -fx-spacing: 2;
}

#PainelCampos
{
    -fx-background-color: white;
    -fx-padding: 2px;

}

#MenuOptions:hover
{
    -fx-text-fill: lightgray;
}

#MenuOptions
{
    -fx-text-fill: white;
}

#PainelCentral
{
    -fx-background-color: lightgray;
    -fx-spacing: 2;
    -fx-padding: 2px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}


#PainelInferior
{
    -fx-background-color: white;
}


#PainelSuperior
{
    -fx-background-color: white;
}

#PainelPrincipal
{
    -fx-background-color: lightgray;
}

#PainelLateral
{
    -fx-background-color: lightgray;
    -fx-padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}


#PainelLogin
{
    -fx-background-color: white;
    -fx-padding: 2px;

}

#PainelTopo
{
    -fx-background-color: white;
    -fx-padding: 5px;

}


#PainelFerramentas
{
    -fx-background-color: white;
    -fx-padding: 5px;

}


#PainelDados
{
    -fx-background-color: white;
    -fx-padding: 5px;

}

#PainelGrupoDados
{
    -fx-background-color: whitesmoke;
    -fx-padding: 5px;
}



